<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <title>Blazor Execution Flow - Visual Workflow Builder</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="app.css?v=@randomNum" />
    <link rel="stylesheet" href="ExampleApp.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <link rel="stylesheet" href="https://unpkg.com/drawflow/dist/drawflow.min.css" />
    <link rel="stylesheet" href="_content/BlazorExecutionFlow/css/drawflowWrapper.css?v=@randomNum" />
    <link rel="stylesheet" href="_content/BlazorExecutionFlow/css/BlazorExecutionFlow.lib.module.css?v=@randomNum" />
    <link rel="stylesheet" href="_content/BlazorExecutionFlow/BlazorExecutionFlow.bundle.scp.css?v=@randomNum" />
    <script src="_content/BlazorExecutionFlow/js/drawflowInterop.js?v=@randomNum"></script>

    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
    <script src="https://unpkg.com/drawflow/dist/drawflow.min.js"></script>
    <script src="_framework/blazor.webassembly.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>

</html>

@code{
    int randomNum = (new Random()).Next();
}

