@inherits LayoutComponentBase

@Body

<div id="blazor-error-ui">
    <span class="error-icon">⚠</span>
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">✕</a>
</div>
